@model System.Collections.Generic.List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "Add", null, new{ @class = "btn btn-primary"})

<table id="customers" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    </thead>

    @foreach (var customer in Model)
    {
        <tr>
            <td>@Html.ActionLink(@customer.Name, "Edit", new {customer.Id})</td>
            <td>@customer.MembershipType.Name</td>
            <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
        </tr>
    }
</table>

@section scripts 
{
    <script>
        $(document).ready(function() {
            $("#customers js-delete").On("click", function() {
                var button = $(this); // Current button clicked.
                if(confirm("Do you want to complete?")) {
                    $.ajax({                        
                        url: "/api/customers/" + $(this).attr("data-customer-id"),                        
                        method: "DELETE",
                        success: function(){
                            button.parents("tr").remove();
                        }
                    })
                }
            });
        });
    </script>
}